* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #f0f0f0;
  --white: white;
  --primary-shade: #979797;
  --primary-light: #dbdbdb;
}
body {
  position: relative;
  background: var(--primary-color);
  font-family: "roboto", sans-serif;
}
.li {
  width: 300%;
}
/* nav bar */
.nav-bar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--white);
  display: flex;
  align-items: center;
  padding: 0 0.25vw;
  z-index: 4;
}
/* .toggle-btn {
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--primary-shade);
  top: 50%;
  transform: translateY(-50%);
} */
/* .toggle-btn span:nth-child(1) {
  top: 0;
}
.toggle-btn span:nth-child(3) {
  top: 100%;
} */
.logo {
  height: 80px;
  margin: 0px 0px 0px 0px;
}
.link1 {
  width: -10%;
  height: 60px;
  padding: 1px 2px;
  display: flex;
  align-items: center;
  color: black;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 10px;
}
.link1:hover {
  background-color: var(--primary-light);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 0px;
}
.icon:hover {
  background-color: var(--primary-light);
  border-radius: 50%;
}
.user-opt ics {
  width: 500%;
  height: 80px;
  margin-right: 10px;
}
.bs3 {
  pointer-events: none;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.search-box {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
  width: 50%;
  height: 35px;
  padding-left: 100px;
  display: flex;
}
.search-bar {
  width: 85%;
  height: 100%;
  border: 1px solid var(--primary-light);
  margin-left: auto;
  border-radius: 20% 0% 0% 20%;
  padding: 0 20px;
  font-size: 16px;
}
.search-btn {
  position: relative;
  width: 15%;
  height: 100%;
  background: var(--primary-color);
  border: 1px solid var(--primary-light);
  border-radius: 0% 40% 40% 0%;
  padding: 5px 0;
  border-left: none;
}
.search-btn img {
  height: 100%;
}
.user-opt {
  height: 35px;
  display: flex;
  margin-left: auto;
  align-items: center;
}
.icon {
  height: 80%;
  margin-right: 20px;
  cursor: pointer;
}
.user-profile {
  cursor: pointer;
  height: 35px;
  width: 100%;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
}
.user-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* sidebar */
/* .side-bar {
  display: flex;
  position: fixed;
  top: 60px;
  left: 0;
  min-width: 250px;
  background: var(--white);
  width: 250px;
  height: 100vh;
  z-index: 4;
  overflow-x: hidden;
  overflow-y: auto;
} */
.filters {
  position: fixed;
  left: 250px;
  top: 60px;
  width: calc(100% - 250px);
  height: 60px;
  background: var(--white);
  border-top: 1px solid var(--primary-light);
  border-bottom: 1px solid var(--primary-light);
  padding: 0 20px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 4;
}
.seperator {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.l {
  /* border: 2px solid black; */
  display: block;
  position: fixed;
  top: 60px;
  left: 0;
  width: 250px;
  background: var(--white);
  width: 250px;
  height: 100%;
  z-index: 4;
  overflow: scroll;
}
.l.four-videos {
  display: flex;
}
.links,
.link-active {
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  color: black;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  margin-right: 10px;
  overflow-y: auto;
}
.para {
  margin-left: 20px;
  text-transform: capitalize;
}
.links img {
  margin-right: 20px;
}
.links img:hover {
  opacity: 0.5;
}
.link-active img:hover {
  opacity: 0.5;
}
.links:hover,
.link-active:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* filters */
.filters {
  position: fixed;
  left: 250px;
  top: 60px;
  width: calc(100% - 250px);
  height: 60px;
  background: var(--white);
  border-top: 1px solid var(--primary-light);
  border-bottom: 1px solid var(--primary-light);
  padding: 0 20px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 4;
}
.filter {
  flex: 0 0 auto;
  padding: 10px 10px;
  border-radius: 20%;
  background: var(--primary-color);
  border: 1px solid var(--primary-light);
  text-transform: capitalize;
  margin-right: 10px;
  margin-top: 0px;
  color: rgb(36, 36, 36);
  font-size: 13px;
  cursor: pointer;
}
.filter-active {
  flex: 0 0 auto;
  padding: 10px 20px;
  border-radius: 20%;
  background: black;
  border: 1px solid var(--primary-light);
  text-transform: capitalize;
  margin-right: 10px;
  color: var(--white);
  font-size: 13px;
  cursor: pointer;
}
.filter:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.four-videos {
  display: flex;
  flex-wrap: wrap;
  min-width: calc(100%-250px);
  min-height: calc(100%-120px);
  grid-template-columns: repeat(3, 33.333%);
  grid-gap: 20px 5px;
  position: relative;
  overflow-x: hidden;
  margin-top: 9rem;
  margin-left: 18rem;
}
.video-container {
  width: 30%;
  padding: 10px;
  border: none;
  border-radius: 10%;
  margin-right: 5px;
  margin-top: 5px;
  float: left;
}

.video {
  min-height: 100%;
  height: auto;
}

.nail {
  width: 105%;
  height: 200px;
  border-radius: 2%;
  object-fit: cover;
}
.nail:hover {
  opacity: 0.8;
}

.content {
  width: 100%;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.channel-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.title {
  width: 100%;
  height: 70px;
  margin-right: 120px;
  margin-left: 0px;
  margin-top: 10px;
  font-size: 15px;
  overflow: auto;
}

.channel-name {
  font-size: 14px;
  margin-bottom: 0px;
  color: #979797;
}
img {
  overflow: clip;
}
